@import "abstracts/variables";
@import "base/reset";
@import "base/global";

@import "components/navbar";
@import "components/row";
@import "pages/search.scss";

// to make sure navbar and header are not overlapping for now
.hero {
  margin-top: 110px;
  width: 100%;
}
