.banner {
  // overflow: hidden;
  position: relative;
  height: auto;
  // need padding, otherwise it overlaps with the navbar
  padding-top: 110px;
  // added margin-bottom so that row is not right after banner
  margin-bottom: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  // background: linear-gradient(to right, #111 30%, transparent 70%);
}

.banner-backdrop {
  height: auto;
  overflow: hidden;
  display: block;
  width: 100%;
  background-size: cover;

  // background: linear-gradient(to right, #111 30%, transparent 70%);
  // background-color: rgba(0, 0, 0, 0.03);
}
.banner-cta {
  width: fit-content;
  position: absolute;
  z-index: 2;
  top: calc(110px + 7vw);
  left: calc(70px + 5vw);
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.banner-title {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  word-break: normal;
  line-height: normal;

  z-index: 2;

  max-width: 60%;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.banner-overview {
  font-size: 1.5rem;
  font-weight: 700;
  word-break: normal;

  width: 50%;
  z-index: 2;

  max-width: 60%;
  max-height: calc(100vw * 9 / 16);
  overflow: hidden;
  @media (max-width: 768px) {
    display: none;
  }
}

.mylist__btns,
.play__btns {
  cursor: pointer;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  display: inline-block;
  z-index: 2;
  a {
    color: white;
    text-decoration: none;
  }
}

.mylist__btns:hover,
.play__btns:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.28s ease;
}

// .mylist__btns {
//   top: 24rem;
//   left: 3rem;
//   position: absolute;
//   @media (max-width: 768px) {
//     top: 18rem;
//   }
// }

// .play__btns {
//   top: 24rem;
//   left: 3rem;
//   position: absolute;
// }
