.banner {
  position: relative;
  height: auto;
  padding-top: 110px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.banner-backdrop {
  height: auto;
  overflow: hidden;
  display: block;
  width: 100%;
  background-size: cover;
}

.banner-cta {
  // width: fit-content;
  // max-width: calc(95vw -70px);
  position: absolute;
  z-index: 2;
  top: calc(110px + 7vw);
  left: calc(50px + 5vw);

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.banner-title {
  color: white;
  font-size: calc(2.2rem + 1vw);
  font-weight: 800;
  word-break: normal;
  line-height: 1.1;
  max-width: 70%;
  z-index: 2;

  @media (max-width: 768px) {
    font-size: 3rem;
    max-width: 100%;
  }
}

.banner-overview {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(0.3rem + 1.5vw);
  font-weight: 700;
  word-break: normal;
  width: calc(55% + 10vw);
  max-width: 750px;
  max-height: calc(100vw * 9 / 16);
  z-index: 2;

  @media (max-width: 768px) {
    display: none;
  }
}

.mylist__btns,
.play__btns {
  cursor: pointer;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  display: inline-block;
  z-index: 2;

  a {
    color: white;
    text-decoration: none;
  }
}

.mylist__btns:hover,
.play__btns:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.28s ease;
}
