.player-wrapper {
  //   min-height: 100vh;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-top: calc(8rem + 4vw);
  .react-player {
    width: 100% !important;
    height: 100vw * 9 / 16 !important;
  }
}
