.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .marker {
      padding: 15px 20px;
      margin: 20px 0;
      display: inline-block;

  }
  .marker--not-complete {
      background-color:gray;
      color: black;
  }
  .marker--is-complete {
    background-color:green;
    color: green;
}