$border-radius: .25rem;
$transition: transform 200ms cubic-bezier(0.23, 1, 0.81, 1.01);
.row {
    margin-left: 20px;
    .movie {
        position: relative;
        padding: 1em;
        cursor: pointer;
        button{
            
            border: none;
            outline: none;
            background-color: transparent;
            width: 2em;
            height: 2em;
            margin:.2em;
            img {
                width: 100%;
                height: 100%;
            }
        }
       
        h3, p {
            margin: 0;
        }
    
        
        img {
            max-width: 100%;
            object-fit: cover;
        }
        .rank {
            position: absolute;
            font-weight: bold;
            font-size: 1.125rem;
            top: 0;
            left: 10%;
            z-index: 100;
            background: #683ab7a8;
            padding: .5em .5em .75em;
            clip-path: polygon(100% 0, 100% 99%, 50% 85%, 0 100%, 0 0);
            transition: $transition;
        }
    
        .front {
            transition: 250ms;
            
    
           .name {
               text-align: left;
               margin: .75em 0;
           }
    
           .thumbnail {
               border-radius: $border-radius;
               transition: $transition;
           }
        }
    ////////////////////////////////
     // INFO displayed on hover: ///////
     ////////////////////////////////
        .back {
            opacity: 0;
            position: absolute;
            top: 70%;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;
            transition: $transition, opacity 150ms linear;
    
    
            .streaming-info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-left: 1em;
                width: 90%;
                columns: 2;
                // THis does not work for now: https
                column-rule: 1px double rgba(255, 255, 255, 1);
    
                .game-stat {
                    font-size: .8rem;
                    text-align: center;
                }
            }
            .btn_container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
            }
    
        }
    
        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(37, 43, 49);
            z-index: -1;
            transform: scale(.2, .9);
            transition: transform 250ms;
            border-radius: $border-radius;
            opacity: 0;
        }
    
       
    
     ////////////////////////////////
     // MOVIER CARD ON HOVER: ///////
     ////////////////////////////////
        &:hover {
            .back {
                opacity: 1;
            }
            .rank {
                transform: translate(600%);
            }
            .front {
                transform: translateY(-20%) scale(.8);
    
                .name {
                    animation: gameName 250ms forwards;
                }
                .thumbnail {
                    transform: translateY(5%) scale(.9);
                }
            }
            .background {
                transition: 
                    transform $transition,
                    opacity 100ms linear;
                opacity: 1;
                transform: scale(1.35, 1.2) translateY(5%);
                border-radius: $border-radius;
            }
        }
    
        
    }
}


@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

