$border-radius: .25rem;
$transition: transform 250ms cubic-bezier(0.23, 1, 0.81, 1.01);
.row {
    margin: 20px;
    height: 100%;


    /////////////////////////////////////////////
    // OVERRIDING "React Elastic Carousel" STYLING:
    //////////////////////////////////////////////
    .rec{
        height: auto;
        .rec-arrow {
            background-color: $highlight-color;
            &:hover {
                background-color: lighten($highlight-color, 10%);
            }
        }
        .ejXxNI {
            background-color: $highlight-color;
            box-shadow: 0 0 1px 3px $font-color;
    
            &:hover {
                box-shadow: 0 0 1px 3px lighten($highlight-color, 10%);
            }
        }
    
        .rec-item-wrapper {
            height: 100%;
        }

    }

    .title {
        font-size: .9rem;
    }

    .title-small {
        font-size: .7rem;
    }
    

    .movie {
        position: relative;
        padding: 1em;
        cursor: pointer;
        border-radius: $border-radius;
        display: flex;
        flex-direction:column;
        .btn, .btn-small {
            border: none;
            outline: none;
            background-color: transparent;
            transition: $transition;  
              
            svg {
                width: 100%;
                height: 100%;
                transition: $transition;
                &:hover {
                    transform: scale(1.1);
                    path {
                        fill: $highlight-color;
                    }
                }
            }
        }
        .btn{
            width: 1.5em;
            height: 1.5em;
            margin:.2em;

        }

        .btn-small {
            width: 1em;
            height: 1em;
            margin: .1em;
        }
       
        h3, p {
            margin: 0;
        }
    
        
        img {
            max-width: 100%;
            object-fit: cover;
        }

        .rating, .rating-small {
            position: absolute;
            font-weight: bold;
            z-index: 100;
            background: $highlight-color;
            clip-path: polygon(100% 0, 100% 99%, 50% 85%, 0 100%, 0 0);
            transition: $transition;
            align-self: start;


        }
        .rating {
            font-size: 1.125rem;
            padding: .3em .3em .85em;
        }

        .rating-small {
            font-size: .8rem;
            padding: .1em .1em .5em;
        }
    
        .front {
            transition: 250ms ease-in;
            position: relative;
            height: 100%;

        
           .thumbnail {
               border-radius: $border-radius;
               transition: $transition;
               opacity: .8;

               &:hover {
                   opacity: 1;
               }
           }
        }
    ////////////////////////////////
     // INFO displayed on hover: ///////
     ////////////////////////////////
        .back {
            opacity: 0;
            position: absolute;
            z-index: 10;
            top: 65%;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-between;
            transition: $transition, opacity 150ms linear;

            
            .seasons, .seasons-small {

                   text-align: left;
                   margin: .75em 0;
               }
               .seasons {
                   font-size: .8rem;
               }
    
               .seasons-small {
                   font-size: .5rem;
               }

               .overview, .overview-small {
                   position: relative;
                   z-index: 10;
               }

                .overview {
                    font-size: .5rem;
                }
                .overview-small {
                    font-size: .3rem;
                }
        
    
    
            .streaming-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 1em;
                width: 90%;

                .rating {
                    font-size: .7rem;
                    text-align: center;
                }

                .rating-small {
                    font-size: .7rem;

                }
            }
            .tooltip, .tooltip-small {
                position: absolute;
                z-index: 1010;
                overflow: visible;
                bottom: 0;
                left: 0;
                width: 100%;
                background: white;
                color: black;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 4px;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
                transform: translateX(-50%) translateY(-50px);
            }
            .btn_container:last-child {
                position: relative;
                &:active, :focus {
                    .tooltip, .tooltip-small {
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0px) translateY(0px);
                    }
                }
            }

            .tooltip-small {
                font-size: .5rem;
            }

            .btn_container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                padding-bottom: 1em;
            }
    
        }
    
        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(37, 43, 49);
            z-index: -1;
            transform: scale(.2, .9);
            transition: transform 250ms;
            opacity: 0;
        }
    
       
    
     ////////////////////////////////
     // MOVIE CARD ON HOVER: ///////
     ////////////////////////////////
        &:hover {
            .back {
                opacity: 1;
            }
            .rating, .rating-small {
                align-self: end;
                right: 3%;
                top: 1%;
            }

            .front {
                
                transform: translateY(-20%) scale(.9);
    
                .title, .title-small {
                    animation: movieName 250ms forwards;
                }
                .thumbnail {
                    position: relative;
                    z-index: 1000;
                    overflow: visible;
                    transform: translateY(5%) scale(.9);
                }
            }
            

            .background {
                transition: 
                    transform $transition,
                    opacity 100ms linear;
                opacity: 1;
                transform: scale(1.35, 1.2) translateY(5%);
                border-radius: $border-radius;
            }
        }
        
    }
}


@keyframes movieName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

