.row {
    margin-left: 20px;
    
    .row__posters {
       display: flex;
       overflow-x: scroll;
       overflow-y: hidden;
       padding: 20px;
        // do not display the scrollbal, but keep functionality of it: 
       &:-webkit-scrollbar {
           display: none;
       }

    }
    .row__poster {
        // width: 100%;
        max-height: 100px;
        //"object-fit: container" will keep an aspect ratio
        object-fit: contain;
        margin-right: 10px;
        transition: transform 450ms;

        &:hover {
            transform: scale(1.08);
        }

    }

    .row__poster-large {
        max-height: 250px;

        &:hover {
            transform: scale(1.09);

        }
    }
   
   
}

// 