$border-radius: .25rem;
$transition: transform 200ms cubic-bezier(0.23, 1, 0.81, 1.01);
.row {
    margin: 20px;
    height: 100%;

    .rec{
        .rec-arrow {
            background-color: $highlight-color;
            &:hover {
                background-color: lighten($highlight-color, 10%);
            }
        }
    }
    .ejXxNI {
        background-color: $highlight-color;
        box-shadow: 0 0 1px 3px $font-color;

        &:hover {
            box-shadow: 0 0 1px 3px lighten($highlight-color, 10%);
        }
    }

    .rec-item-wrapper {
        height: 100%;
    }

    .movie {
        position: relative;
        padding: 1em;
        cursor: pointer;
        border-radius: $border-radius;
        display: flex;
        flex-direction:column;
        .btn, .btn-small {
            border: none;
            outline: none;
            background-color: transparent;
            transition: $transition;
            

            
            img {
                width: 100%;
                height: 100%;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.055);
                    transform: scale(1.3);
                    border-radius: 50%;
                    fill: #683ab7a8;
                }
            }
        }
        .btn{
            width: 1.7em;
            height: 1.7em;
            margin:.2em;
 
        }

        .btn-small {
            width: .9em;
            height: .9em;
            margin: .1em;
        }
       
        h3, p {
            margin: 0;
        }
    
        
        img {
            max-width: 100%;
            object-fit: cover;
        }

        .rank, .rank-small {
            position: absolute;
            font-weight: bold;
            z-index: 100;
            background: $highlight-color;
            clip-path: polygon(100% 0, 100% 99%, 50% 85%, 0 100%, 0 0);
            transition: $transition;
            align-self: start;


        }
        .rank {

            font-size: 1.125rem;
            padding: .5em .5em .75em;
        }

        .rank-small {
            font-size: .8rem;
            padding: .3em .3em .5em;
        }
    
        .front {
            transition: 250ms ease-in;
            position: relative;
            height: 100%;

           .title, .title-small {
            //    position: absolute;
            //    bottom: 0;
               text-align: left;
               margin: .75em 0;
           }
           .title {
               font-size: 1rem;
           }

           .title-small {
               font-size: .7rem;
           }
    
           .thumbnail {
               border-radius: $border-radius;
               transition: $transition;
               opacity: .5;

               &:hover {
                   opacity: .9;
               }
           }
        }
    ////////////////////////////////
     // INFO displayed on hover: ///////
     ////////////////////////////////
        .back {
            opacity: 0;
            position: absolute;
            top: 70%;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;
            transition: $transition, opacity 150ms linear;
    
    
            .streaming-info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-left: 1em;
                width: 90%;
                columns: 2;
                // THis does not work for now: https
                column-rule: 1px double rgba(255, 255, 255, 1);
    
                .rating {
                    font-size: .7rem;
                    text-align: center;
                }

                .rating-small {
                    font-size: .4rem;

                }
            }
            .btn_container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                padding-bottom: 1em;
            }
    
        }
    
        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(37, 43, 49);
            z-index: -1;
            transform: scale(.2, .9);
            transition: transform 250ms;
            opacity: 0;
        }
    
       
    
     ////////////////////////////////
     // MOVIE CARD ON HOVER: ///////
     ////////////////////////////////
        &:hover {
            .back {
                opacity: 1;
            }
            .rank, .rank-small {
                align-self: end;
                right: 3%;
                top: 1%;
            }

            .front {
                transform: translateY(-20%) scale(.8);
    
                .title, .title-small {
                    animation: movieName 250ms forwards;
                }
                .thumbnail {
                    transform: translateY(5%) scale(.9);
                }
            }
            .thumbnail {
                opacity: 1;
            }

            // .title, .title-small {
            //     bottom: -10%;
            // }
            .background {
                transition: 
                    transform $transition,
                    opacity 100ms linear;
                opacity: 1;
                transform: scale(1.35, 1.2) translateY(5%);
                border-radius: $border-radius;
            }
        }
        
    }
}


@keyframes movieName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

