.row {
    margin-left: 20px;

    .row__posters {
       display: flex;
       flex-wrap: no-wrap;
       overflow-x: scroll;
       overflow-y: hidden;
       padding: 20px;
        // do not display the scrollbal, but keep functionality of it: 
       &:-webkit-scrollbar {
           display: none;
       }

       .hidden {
           display: none;
       }

        .row__poster {
            width: 100%;
            max-height: 147px;
            //"object-fit: container" will keep an aspect ratio:
            object-fit: contain;
            margin-right: 10px;
            transition: transform 450ms;
            cursor: pointer;
            z-index: 2;

            &:hover {
                transform: scale(1.08);
            }

        }

        .card-container {
            width: 100%;
            position: relative;

            

            .movie_info-container {
                position: absolute;
                z-index: 0;
                bottom:5%;
                top: 85%;
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
                background-color:#171717;
                opacity: .8;
            }
    
            .movie_info,
            .btn_container,
            .tags {
                z-index: 10;

            }
            .movie_info p {
                font-size: 10px;
            }
        
        
            }
            .btn_container {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;
                button {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    margin:.2em;
                }
            }
        }


        ///////////////////////////
        // LARGE CARD container
        //////////////////////////

        .card-container-large {
                width: 100%;
                position: relative;
                .row__poster-large {
                    max-height: 250px;
                    width: 100%;
                            //"object-fit: container" will keep an aspect ratio:
                    object-fit: contain;
                    margin-right: 25px;
                    transition: transform 450ms;
                    cursor: pointer;
                    z-index: 5;
                    &:hover {
                        transform: scale(1.08);
                    }
        
                   
                }
    
                .movie_info-container {
                    position: absolute;
                    z-index: 0;
                    bottom:0;
                    right: 0;
                    top: 85%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    background-color: #171717;
                    opacity: .8;
    
    
                }
        
                .movie_info,
                .btn_container,
                .tags {
                    z-index: 10;
    
                }
                .movie_info p {
                    font-size: 10px;
                }
            
                .btn_container {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin: 0 auto;
                    button {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        margin:.2em;
                    }
                }
        }
}

