.search__posters {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 80vh;
  // 110px to make sure it doesn't overlap with navbar
  padding: 110px 20px 20px 20px;
  // do not display the scrollbar, but keep functionality of it:
  &:-webkit-scrollbar {
    display: none;
  }
}
.carousel {
  position: relative;
  &.carousel-box {
    width: auto;
    overflow: scroll;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
  }
}
.search__poster {
  // width: 100%;
  max-height: 220px;
  //"object-fit: container" will keep an aspect ratio:
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  z-index: 2;

  &:hover {
    transform: scale(1.09);
    z-index: 5;
  }
}

.found-1 {
  display: none;
}

.error-message {
  margin-top: 4rem;
}

.rec-dot {
  box-shadow: 0 0 1px 2px white !important;
}
